.main-banner {
  width: 100%;
  height: 75vh;
  padding: 15vh 10vw;
  background: rgb(170,241,255);
  background: linear-gradient(90deg, rgba(170,241,255,1) 0%, rgba(74,74,210,1) 100%, rgba(2,0,36,1) 100%);
}

.main-heading {
  font-size: 4rem;
  margin-bottom: 25px;
}

.main-description {
  font-size: 26px;
  letter-spacing: 0.5px;
}

.arrow-container {
  text-align: center;
  position: absolute;
  width: 80%;
  bottom: 25vh; 
}

.arrow-down:hover {
  cursor: pointer;
  font-size: 100px;
}

.center-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 15px;
}

.heading-section {
  width: 100%;
  height: 15vh;
  align-content: center;
}

.side-line {
  width: 75%; 
  text-align: center; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.side-line span { 
  background:#fff; 
  padding:0px 20px;
  font-size: 15px;
}