:root {
  -primary: white
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(-primary);
  color: #242424;
  border: 1px solid var(-primary)
}

.btn-outline {
  background-color: transparent;
  color: white;
  border: 1px solid var(-primary);
  padding: 8px 20px;
  transition: all 0.3 ease-out;
}

.btn-sm {
  padding: 4px 16px;
  font-size: 20px;
}

.btn-md {
  padding: 8px 20px;
  font-size: 20px;
}

.btn-lg {
  padding: 12px 26px;
  font-size: 20px;
}

.btn:hover {
  background-color: #fff;
  color: #242424;
  transition: all 0.3 ease-out;
}