.card-container {
  width: 420px;
  height: 480px;
  border-radius: 10px;
  margin: 10px;
  background-color: #FAFAFA;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  transition: all 0.4s ease;
  letter-spacing: 0.3px;
  line-height: 22px;
}

.card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
  transform: translateY(-10px);
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 290px;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-heading {
  margin-bottom: 5px;
}

.card-content {
  color: black;
  padding: 10px 15px;
}

.card-label {
  border-radius: 15px;
  padding: 2px 10px;
  background-color: gray;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: -2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  align-self: center;
}

.card-labels-container {
  display: flex;
  flex-wrap: wrap;
}