/* horizontal card styling*/
.horizontal-card-container {
  width: 100%;
  height: 190px;
  background-color: #FAFAFA;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.horizontal-card-image {
  flex: 1;
  background-size: cover;
}

@media only screen and (max-width: 630px) {
  .horizontal-card-image {
    width: 100%;
    height: 180px;
    flex: initial;
  }
  .horizontal-card-container {
    height: 400px;
    flex: 1;
  }
}

.horizontal-card-content {
  color: black;
  padding: 10px 15px;
  flex: 3;
  height: 100%;
}

/* vertical card styling*/
.card-container {
  margin: 5px;
  width: 400px;
  height: 350px;
  background-color: #FAFAFA;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  transition: all 0.4s ease;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}


/* .card-container:hover, .horizontal-card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
  transform: translateY(-10px);
  cursor: pointer;
} */

.card-image {
  width: 100%;
  height: 180px;
  background-size: cover;
}

.card-content {
  color: black;
  padding: 10px 15px;
  position: relative;
}


/* styling for both vertical and horizontal cards*/
.card-heading {
  margin-bottom: 10px;
}

.card-label {
  border-radius: 15px;
  padding: 5px 10px;
  background-color: gray;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: -2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  align-self: center;
}

.card-labels-container {
  display: flex;
  flex-wrap: wrap;
}

.card-description {
  height: 75px;
}

.card-button-container {
  /* width: 200px; 
  height: 150px;  */
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}