.footer-container {
  width: 100%;
  height: 20vh;
  background-color: #222222;
  color: #ffffff;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
}