.footer-container {
  width: 100%;
  height: 20vh;
  background-color: #222222;
  color: #ffffff;
  padding: 0px 15px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 15px;
}