header {
  width: 100%;
  height: 10vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  position: absolute;
  top: 0px;
  left: 10vw;
  height: 10vh;
  display: flex;
  align-items: center;
  position: absolute;
}

.logo {
  position: absolute;
  bottom: 0;
  padding-bottom: 1vh;
  font-size: 42px;
  text-decoration: none;
  color: #222222;
}

.navbar-container {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.navbar-links-container {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
}

.nav-item, .logo {
  flex: 1;
  list-style: none;
  transition: all 0.3 ease;
}

.nav-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  margin-top: -5px;
  border-bottom: 5px solid #fff;
  transition: all 0.3s ease-out;
}

.nav-link {
  width: 90%;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

.menu-container {
  display: none;
  filter: invert(1);
}


@media screen and (max-width: 960px) {
  .navbar-links-container {
    display: none;
  }

  .logo-container {
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .menu-container {
    display: block;
    position: absolute;
    right: 10vw;
    cursor: pointer;
    z-index: 1;
  }

  .active {
    display: block;
    width: 100%;
    position: absolute;
    background: red;
    top: 60px;
    z-index: 1;
  }

  .nav-item {
    background-color: #222222;
    height: 9vh;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .nav-link {
    color: #fff;
    height: 100%;
    padding-bottom: 0px;
  }

  .nav-link:hover {
    color: #242424;
    border-radius: 0;
    margin-top: 0px;
    border-bottom: 0px;
    transition: none;
    color: grey;
  }
}

/* header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  background: #222222;
}

.nav-logo {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 26px;
  display: flex;
}

.nav-menu-container {
  width: 65vw;
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  text-align: center;
  justify-content: end;
}

.nav-item {
  height: 60px;
  margin: 0px 20px;
  padding-top: 10px;
  font-size: 20px;
}

.nav-link {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  height: 100%;
}

.nav-link:hover {
  border-bottom: 3px solid #fff;
  transition: all 0.3s ease-out;
}

.nav-link-mobile {
  display: none;
}

.menu-icon {
  display: none;
  filter: invert(1);
}

@media screen and (max-width: 960px) {
  .nav-menu-container {
    display: none;
  }

  .active {
    display: block;
    width: 100%;
    position: absolute;
    background: #242222;
    top: 60px;
  }
  .nav-item {
    margin: 0px 0px;
  }

  .nav-link {
    text-align: center;
    padding-top: 10px;
    display: table;
    width: 100%;
  }

  .nav-link:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    cursor: pointer;
  }
} */
