.card-outer-container {
  padding: 10px;
  flex: 0 49%;
  margin: 10px 0;
}

.card-inner-container {
  background-color: #f7f7f7;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* border-radius: 5px; */
  overflow: hidden;
  border-bottom: #FFC122 solid 3px;
}

.card-inner-container:hover {
  transition: all 0.3 ease-in;
  box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.15);
}

a {
  text-decoration: none;
  color: black;
}

.card-img {
  width: 100%;
}

.card-content {
  padding: 10px 15px;
}

.card-heading {
  margin-bottom: 10px;
}

.card-label {
  border-radius: 15px;
  padding: 5px 10px;
  background-color: gray;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: -2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  align-self: center;
}

.card-links {
  display: flex;
}

.link-item {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #ffffff;
  margin: 3px;
  text-transform: uppercase;
  text-align: center;
  border: solid #252525 0.5px;
}

.card-labels-container {
  display: flex;
  flex-wrap: wrap;
}

.card-description {
  height: 75px;
}

.card-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}