* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'PT Sans', sans-serif;
}

.App {
  background: rgb(170,241,255);
  background: linear-gradient(90deg, rgba(170,241,255,1) 0%, rgba(74,74,210,1) 100%, rgba(2,0,36,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.button {
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #1a1a1a;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  width: 100px;
  margin: 0 5px;
  color: white;
}

.button:hover {
  cursor: pointer;
}