* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  background: rgb(170,241,255);
  background: linear-gradient(90deg, rgba(170,241,255,1) 0%, rgba(74,74,210,1) 100%, rgba(2,0,36,1) 100%);
}
